<div class="mobile-header">
    <div class="header-item text-left">
        <div class="items item--hamburger">
            <a class="mobileMenu-toggle" href="javascript:void(0)" data-mobile-menu-toggle="menu">
                <span class="mobileMenu-toggleIcon">Toggle menu</span>
            </a>
        </div>
        <div class="items item--searchMobile">
            <a class="navUser-action navUser-action--quickSearch" href="javascript:void(0)" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false" aria-label="Search">
                <svg class="icon" aria-label="Open Search Form"><use xlink:href="#icon-search"></use></svg>
                <span class="icon close" aria-label="Close Search">&times;</span>
            </a>
        </div>
    </div>
    <div class="header-item text-center">
        <div class="items">
            <div class="logo-wrapper">
                {{#if page_type '===' 'default'}}
                    <h1 class="header-logo">
                        {{> components/common/store-logo}}
                    </h1>
                {{else}}
                    <div class="header-logo">
                        {{> components/common/store-logo}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="header-item text-right">
        <div class="items item--account">
            <a class="navUser-action navUser-action--account" href="javascript:void(0)" aria-label="{{lang 'common.account'}}">
                <div class="navUser-icon">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-user"/></svg>
                </div>
            </a>
        </div>
        <div class="items item--cart themevale_cart">
            <a class="navUser-action cartMobile"
                data-cart-preview3
                data-options="align:right"
                href="{{urls.cart}}" aria-label="{{lang 'cart.nav_aria_label'}}">
                <div class="navUser-icon navUser-item-cartIcon cart-icon">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-cart"></use></svg>
                    <span class="countPill cart-quantity"></span>
                </div>
            </a>
        </div>
    </div>
</div>
