<main class="body" id='main-content' role='main' data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}} {{/block}}

	{{#or (if page_type '==' 'default') (if page_type '==' 'product') (if page_type '==' 'page_contact_form')}}
        {{#block "page"}} {{/block}}	
    {{else}}	
        <div class="container">
            {{#block "page"}} {{/block}}
        </div>
    {{/or}}

    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</main>
