<form class="form" action="{{urls.search}}" data-quick-search-form>
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="is-srOnly" for="search_query2">{{lang "search.quick_search.input_label"}}</label>
            <input class="form-input" data-search-quick name="search_query2" id="search_query2" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
            <button type="submit" aria-label="Search Button"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-search"></use></svg></button>
        </div>
    </fieldset>
</form>
<section class="quickSearchResults scrollbar" data-bind="html: results"></section>
<p role="status"
     aria-live="polite"
     class="aria-description--hidden"
     data-search-aria-message-predefined-text="{{{lang 'search.results.quick_count_live'}}}"
></p>
