---
brands:

products:
    top_sellers:
        limit: {{theme_settings.homepage_products_count}}
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <h1 class="page-heading">{{lang 'brand.label'}}</h1>
    {{{region name="brands_below_header"}}}
    {{#if theme_settings.halo_brandAZlayout}}
        {{> components/halothemes/brand/halo-azbrand}}
    {{else}}
        <ul class="brandGrid">
            {{#each brands}}
                <li class="brand">
                    <article class="card" {{#if alternate}}card--alternate{{/if}}>
                        <figure class="card-figure">
                            <a class="image" href="{{url}}" aria-label="{{name}}">
                                <div class="brand-img-container">
                                    {{> components/common/responsive-img
                                        image=image
                                        class="card-image"
                                        fallback_size=../theme_settings.brand_size
                                        lazyload=../theme_settings.lazyload_mode
                                        default_image=../theme_settings.default_image_brand
                                    }}
                                </div>
                            </a>
                        </figure>
                        <div class="card-body">
                            <a class="link" href="{{url}}" aria-label="{{name}}">
                                <span class="text">{{name}}</span>
                            </a>
                        </div>
                    </article>
                </li>
            {{/each}}
        </ul>
        {{> components/common/paginator pagination.brands}}
    {{/if}}
    {{{region name="brands_below_content"}}}
</main>
{{/partial}}
{{> layout/base}}
