<div class="halo-ask-an-expert">
    <div class="col-left col">
        <div class="img">
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo-ask-an-expert-image}}" alt="{{theme_settings.halo-ask-an-expert-title}}">
        </div>
        <div class="text">
            {{#if theme_settings.halo-ask-an-expert-title}}
                <h3>{{theme_settings.halo-ask-an-expert-title}}</h3>
            {{/if}}
            {{#if theme_settings.halo-ask-an-expert-text}}
                <span>{{theme_settings.halo-ask-an-expert-text}}</span>
            {{/if}}
        </div>
    </div>
    <div class="col-right col">
        {{#if theme_settings.halo_ask_an_expert_subject}}
            <a class="ask-an-expert-link button button--primary" href="#" data-reveal-id="halo-ask-an-expert">{{theme_settings.halo_ask_an_expert_subject}}</a>
        {{/if}}
    </div>
</div>

<div id="halo-ask-an-expert" class="modal" data-reveal>
    <div class="modal-content">
        <div class="modal-header modal-header2">
            <h2 class="modal-header-title">{{theme_settings.halo-ask-an-expert-popup-title}}</h2>
            <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">&#215;</a>
        </div>
        <div class="modal-body" data-product-title="{{product.title}}" data-product-url="{{product.url}}" data-product-sku="{{product.sku}}" data-product-image="{{getImage product.main_image}}">
            <div class="halo-ask-an-expert-subtitle"><span>{{theme_settings.halo-ask-an-expert-popup-subtitle}}</span></div>
            <div class="halo-ask-an-expert-text description">{{theme_settings.halo-ask-an-expert-popup-text1}}</div>
            <div class="halo-ask-an-expert-text question">{{theme_settings.halo-ask-an-expert-popup-text2}}</div>
            <div id="halo-ask-an-expert-results" class="halo-ask-an-expert-text"></div>
            <form class="form" id="halo-ask-an-expert-form">
                <fieldset class="form-fieldset">
                    <div class="form-field">
                    	<label class="form-label">Your name</label>
                        <input required="true" type="text" class="form-input" name="customer_name" value="{{customer.name}}">
                    </div>
                    <div class="form-field">
                    	<label class="form-label">Email address</label>
                        <input required="true" type="text" class="form-input" name="customer_email" value="{{customer.email}}">
                    </div>
                    <div class="form-field">
                    	<label class="form-label">Phone number</label>
                        <input required="true" type="text" class="form-input" name="customer_phone" value="{{customer.phone}}">
                    </div>
                    <div class="form-field form-field-radio">
                        <label class="form-label">Do you need:</label>
                        <input class="form-radio" id="pricing-radio" type="radio" name="type_package" checked value="Pricing">
                        <label class="form-label" for="pricing-radio">Pricing</label>
                        <input class="form-radio" id="answers-radio" type="radio" name="type_package" value="Answers">
                        <label class="form-label" for="answers-radio">Answers</label>
                        <input class="form-radio" id="both-radio" type="radio" name="type_package" value="Pricing & Answers">
                        <label class="form-label" for="both-radio">Both</label>
                    </div>
                    <div class="form-field comment-area">
                        <label class="form-label" for="comment-area">What can i help you with today ?</label>
                        <textarea name="message" cols="30" rows="6" class="form-input" id="comment-area" required="true"></textarea>
                    </div>
                    <div class="form-field form-field-radio form-field-radio2">
                        <label class="form-label form-label-custom">How would you like me to contact you ?</label>
                        <input class="form-radio" id="phone-radio" type="radio" name="type_contact" checked value="Phone">
                        <label class="form-label" for="phone-radio">Phone</label>
                        <input class="form-radio" id="email-radio" type="radio" name="type_contact" value="Email">
                        <label class="form-label" for="email-radio">Email</label>
                        <input class="form-radio" id="both-radio-2" type="radio" name="type_contact" value="Phone & Email">
                        <label class="form-label" for="both-radio-2">Both</label>
                    </div>
                    <div class="form-actions">
                       <button type="button" class="button button--primary button--large" id="halo-ask-an-expert-button">Send question</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
