<div>
    <div class="item">
        <div class="card card-custom" data-product-id="{{product.id}}">
            <div class="card-figure">
                <a class="card-link" href="{{product.url}}">
                    <div class="card-img-container">
                        <img class="card-image" src="{{getImage product.main_image 'gallery_size'}}" alt="{{product.title}}" title="{{product.title}}">
                    </div>
                </a>
            </div>
            <div class="card-body">
                {{#and (if settings.show_product_rating) (if theme_settings.halo_card_rating)}}
                    <p class="card-rating" data-test-info-type="productRating">
                        <span class="rating--small">
                            {{> components/products/ratings rating=product.rating}}
                        </span>
                        {{#if product.num_reviews}}
                            <span class="rating--count">({{product.num_reviews}})</span>
                        {{/if}}
                    </p>
                {{/and}}
                {{#if theme_settings.halo_card_brand}}
                    {{#if product.brand.name}}
                        <p class="card-brand" data-test-info-type="brandName">{{product.brand.name}}</p>
                    {{/if}}
                {{/if}}

                <h4 class="card-title">
                    <a {{#if theme_settings.card_title_type '==' 'clamp'}} class="clamp" style="-webkit-box-orient: vertical; -webkit-line-clamp: {{theme_settings.card_title_line}};"{{/if}} href="{{product.url}}" data-event-type="product-click">{{product.title}}</a>
                </h4>
                <div class="card-price" data-test-info-type="price">
                    {{#or customer (unless settings.hide_price_from_guests)}}                    
                        {{#if price_range}}
                            {{> components/products/price-range}}
                        {{else}}
                            {{> components/products/price price=product.price customer=customer}}
                        {{/if}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{#if theme_settings.halo_color_variant}}
                    <div class="card_optionImage card_optionImage-{{id}}">
                        <div class="form-field" data-product-attribute="swatch"></div>
                    </div>
                {{/if}}
                <figcaption class="card-figcaption-bottom">
                    <div class="card-figcaption-body">
                        {{#or customer (unless settings.hide_price_from_guests)}}
                            {{#if product.out_of_stock_message }}
                                <a href="{{product.url}}" class="card_out_of_stock" disabled data-product-id="{{product.id}}">{{product.out_of_stock_message}}</a>
                            {{else}}
                                {{#if product.options}}
                                    <a href="{{product.url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{product.id}}">{{lang 'products.choose_options'}}</a>
                                {{else}}
                                    {{#if product.pre_order}}
                                        <a href="{{product.url}}" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                                    {{else}}
                                        {{#if product.can_purchase }}
                                            <a href="{{product.cart_url}}?action=add&product_id={{product.id}}" class="button button--small card-figcaption-button halo-add-to-cart" data-product-id="{{product.id}}">{{lang 'products.add_to_cart'}}</a>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/or}}
                    </div>
                </figcaption>
            </div>
        </div>
    </div>
</div>
