{{#if theme_settings.halo_newsletter_popup}}
    <div id="halo-newsletter-popup" class="hide">
        <div class="newsletter-popup-container">
            <div class="newsletter-popup-inner">
            	<button type="button" data-close-newsletter-popup>×</button>
                <div class="newsletter-image">
                	<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_newsletter_popup_image}}" alt="{{theme_settings.halo_newsletter_popup_heading}}">
                </div>
                <div class="newsletter-content">
                	{{#if theme_settigns.halo_newsletter_popup_heading '!=' ''}}
                    	<h2 class="newsletter-heading{{#if settings.show_newsletter_summary}} has-summary{{/if}}">{{theme_settings.halo_newsletter_popup_heading}}</h2>
                    {{/if}}
                    {{#if settings.show_newsletter_summary }}
                        <span class="newsletter-message">{{settings.newsletter_summary}}</span>
                    {{/if}}
                    <div id="popupSubcribeForm">
                        <form class="form" action="{{urls.subscribe.action}}" method="post" id="popupSubcribeFormSubmit">
                            <fieldset class="form-fieldset">
                                <input type="hidden" name="action" value="subscribe">
                                <input type="hidden" name="nl_first_name" value="bc">
                                <input type="hidden" name="check" value="1">
                                <div class="form-field">
                                    <label class="form-label is-srOnly" for="nl_email3">Email:</label>
                                    <input class="form-input" id="nl_email3" name="nl_email" type="email" placeholder="{{lang 'newsletter.email_placeholder'}}">
                                    <input class="button button--primary button--large" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="no-thanks">
                        <a href="javascript:void(0)" title="">{{lang 'common.no_thanks'}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
