// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel { // 1
    width: 1px;
    min-width: 100%;
    max-width: none;
    width: auto;
    margin: 0;
    font-size: 0;
    .slick-list {
        margin: 0 -7.5px;
        @include breakpoint("medium") {
            margin: 0 -10px;
        }
        .homepage-layout-2 & {
            @media (max-width: 550px) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.productCarousel-slide { // 1
    display: inline-block;
    width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    font-size: $fontSize-root;
    @include breakpoint("small") {
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(3, $total-columns);
        padding-left: 10px;
        padding-right: 10px;
    }

    @include breakpoint("large") {
        width: grid-calc(2, $total-columns);
    }

    .card {
        margin-bottom: 0;

        .card-title {
            overflow-wrap: break-word;
        }
    }
    .homepage-layout-2 & {
        @media (max-width: 550px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.col-2 {
        width: 50%;
        display: none;
        &.slick-slide, &:first-child, &:nth-child(2) {
            display: inline-block;
        }
    }

    &.col-3 {
        width: 50%;
        display: none;
        &.slick-slide, &:first-child, &:nth-child(2) {
            display: inline-block;
        }

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }

        @media (min-width: 551px) and (max-width: 991px) {
            &:nth-child(3) {
                display: inline-block;
            }
        }

        @media (min-width: 992px) {
             width: grid-calc(6, $total-columns);
        }
        @include breakpoint("medium") {
            width: grid-calc(4, $total-columns);
            &:nth-child(3) {
                display: inline-block;
            }
        }
    }

    &.col-4 {
        width: 50%;
        display: none;
        &.slick-slide, &:first-child, &:nth-child(2) {
            display: inline-block;
        }

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
            &:nth-child(3) {
                display: inline-block;
            }
        }

        @media (min-width: 992px) {
             width: grid-calc(3, $total-columns);
             &:nth-child(4) {
                display: inline-block;
            }
        }
    }

    &.col-5 {
        width: 50%;
        display: none;
        &.slick-slide, &:first-child, &:nth-child(2) {
            display: inline-block;
        }

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
            &:nth-child(3) {
                display: inline-block;
            }
        }

        @media (min-width: 992px) {
            width: grid-calc(3, $total-columns);
            &:nth-child(4) {
                display: inline-block;
            }
        }

        @media (min-width: 1440px) {
            width: 20%;
            &:nth-child(5) {
                display: inline-block;
            }
        }
    }

    &.col-6 {
        width: 50%;
        display: none;
        &.slick-slide, &:first-child, &:nth-child(2) {
            display: inline-block;
        }

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
            &:nth-child(3) {
                display: inline-block;
            }
        }

        @media (min-width: 992px) {
            width: grid-calc(3, $total-columns);
            &:nth-child(4) {
                display: inline-block;
            }
        }

        @media (min-width: 1440px) {
            width: 20%;
            &:nth-child(5) {
                display: inline-block;
            }
        }

        @media (min-width: 1920px) {
            width: grid-calc(2, $total-columns);
            &:nth-child(6) {
                display: inline-block;
            }
        }
    }
}
