// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: 0;
    max-width: 100%;

    .form-label {
        color: stencilColor('color-textHeading');
        font-weight: fontWeight("medium");
    }

    .form-input {
        height: 50px;
        border-color: #CCCCCC;
        max-width: 100%;
    }

    .form-actions {
        text-align: center;

        .button {
            min-width: 170px;
            display: inline-block;
            vertical-align: middle;
            border-color: #000;

            &:hover {
                border-color: $color-textLink-hover;
            }
        }

        .forgot-password {
            width: auto;
            display: inline-block;
            vertical-align: middle;
            color: $color-textLink-hover;
            background-image: linear-gradient(transparent 96%, rgba($color-textLink-hover, .6) 4%);
            background-repeat: repeat-x;
            background-position-y: 0;
            text-decoration: none;
            margin-left: 15px;
            font-size: stencilNumber("fontSize-root") + 2px;

            &:hover {
                color: $color-textLink;
                background-image: linear-gradient(transparent 96%, rgba($color-textLink, .6) 4%);
                background-repeat: repeat-x;
                background-position-y: 0;
            }

            @media(min-width: 1025px) {
                margin-left: 50px;
            }
        }

        @media(min-width: 551px) {
            text-align: left;
        }
    }
}

.login-row {
    @include grid-row();

    @include breakpoint("medium") {
        margin-top: 50px;
    }

    max-width: 100%;
    font-size: 0;
}

.login-form {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
    font-size: stencilNumber("fontSize-root");

    @media(min-width: 768px) {
        width: 50%;
        padding-left: 0;
        padding-right: 85px;
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin-bottom: 0;
    }

    @media(max-width: 1199px) and (min-width: 768px) {
        padding-right: 15px;
    }
}

.new-customer {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    font-size: stencilNumber("fontSize-root");

    @media(min-width: 768px) {
        width: 50%;
        padding-left: 85px;
        padding-right: 0;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .panel {
        background-color: #f5f5f5;
        border-radius: 10px;

        .panel-header {
            background-color: transparent;
            padding: 70px 70px 0 70px;

            .panel-title {
                color: stencilColor('color-textHeading');
                font-size: 20px;
                font-weight: fontWeight("bold");
                margin-bottom: 20px;
            }
        }

        .panel-body {
            background-color: transparent;
            padding: 0 70px 70px 70px;
            margin-bottom: 0;

            .new-customer-intro {
                color: #505050;
                font-size: stencilNumber("fontSize-root") + 2px;
                font-weight: fontWeight("normal");
                margin-bottom: 10px;
            }

            .new-customer-fact-list {
                margin-left: 17px;
                margin-bottom: 30px;

                .new-customer-fact {
                    padding: 9px 0 9px 3px;
                    color: #505050;
                    font-size: stencilNumber("fontSize-root") + 2px;
                    font-weight: fontWeight("normal");
                }
            }

            .button {
                width: 100%;
                max-width: 241px;
                margin-bottom: 0;
            }
        }
    }

    @media(max-width: 1199px) and (min-width: 768px) {
        padding-left: 15px;

        .panel {
            .panel-header {
                padding: 30px 30px 0 30px;
            }

            .panel-body {
                padding: 0 30px 30px 30px;
            }
        }
    }

    @media(max-width: 767px) {
        .panel {
            .panel-header {
                padding: 20px 20px 0 20px;
            }

            .panel-body {
                padding: 0 20px 20px 20px;
            }
        }
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: spacing("double");
}

.new-customer-fact {
    padding-left: spacing("half");
}
