<div class="sidebar__inner">
    <a class="close-sidebar" href="javascript:void(0)" title="close">{{lang 'common.sidebar_shop_by'}} <span class="icon-close">&times;</span></a>
    <nav>
        {{> components/halothemes/sidebar/side-all-categories}}

        {{#if brand.faceted_search_enabled}}
            {{> components/faceted-search/index brand}}

            {{#if theme_settings.sidebar_image}}
                {{> components/halothemes/sidebar/side-custom-image}}
            {{/if}}
        {{else}}
            {{#if shop_by_brand}}
                {{> components/halothemes/sidebar/side-shop-by-brand}}
            {{/if}}

            {{#if theme_settings.sidebar_image}}
                {{> components/halothemes/sidebar/side-custom-image}}
            {{/if}}

            {{#if theme_settings.sidebar_products_title}}
                <div id="sideProducts" class="sidebarBlock">
                    <div class="page-header">
                        <h2 class="sidebarBlock-heading">{{theme_settings.sidebar_products_title}}</h2>
                    </div>
                    {{#if theme_settings.sidebar_products '==' 'top'}}
                        {{#if products.top_sellers}}
                            {{> components/halothemes/sidebar/top products=products.top_sellers products_new=products.new block_id="sidebar-products"}}
                        {{/if}}
                    {{else}}
                        {{#if theme_settings.sidebar_products '==' 'featured'}}
                            {{#if products.featured}}
                                {{> components/halothemes/sidebar/featured products=products.featured products_new=products.new block_id="sidebar-products"}}
                            {{/if}}
                        {{else}}
                            {{#if theme_settings.sidebar_products '==' 'new'}}
                                {{#if products.new}}
                                    {{> components/halothemes/sidebar/new products=products.new products_new=products.new block_id="sidebar-products"}}
                                {{/if}}
                            {{else}}
                                <div id="categoryProductRecommended" class="product-block product-block-recommended" data-block-layout="carousel" data-columns="1" data-dots="true" data-limit="{{theme_settings.sidebar_products_count}}">
                                    {{> components/halothemes/ajax-products-by-category-id category_id=theme_settings.sidebar_products_id productsnew=products.new}}
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}

        {{#if theme_settings.show_sidebar_custom_block}}
            {{> components/halothemes/sidebar/side-custom-content}}
        {{/if}}
    </nav>
</div>

