<section class="buyBox" data-sticky-buy-box>
    <div class="buyBox-card">
        <div class="buyBox-pricing">
            {{#if product.call_for_price}}
                <p class="buyBox-priceText">{{product.call_for_price}}</p>
            {{else}}
                <div class="buyBox-price">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{> components/products/price price=product.price schema_org=schema}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
            {{/if}}
            <div class="buyBox-unitPrice">
                <span class="buyBox-unitPriceLabel">Unit price</span>
                <span class="buyBox-unitPriceValue" data-unit-price></span>
            </div>
        </div>

        {{{region name="product_below_price"}}}

        {{#if theme_settings.product-countDown}}
            {{#if theme_settings.product-countDown-type '==' 'all'}}
                {{#or theme_settings.countDownText theme_settings.product-countDown}}
                    <div class="productCountDown buyBox-countDown">
                        {{#if theme_settings.product-countDown-time}}
                            <div class="countDowntimer product-count-down" data-count-down="{{theme_settings.product-countDown-time}}"></div>
                        {{/if}}
                    </div>
                {{/or}}
            {{else}}
                {{#each product.custom_fields}}
                    {{#if name '===' '__countDown'}}
                        <div class="productCountDown buyBox-countDown">
                            <div class="countDowntimer product-count-down" data-count-down="{{{value}}}"></div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/if}}

        <div class="buyBox-availability" data-product-availability>
            {{#if product.availability}}
                <span class="buyBox-availabilityLabel">Availability:</span>
                <span class="buyBox-availabilityValue">{{product.availability}}</span>
            {{/if}}
        </div>

        <div class="buyBox-fulfillment">
            <div class="buyBox-zip" data-buy-box-zip>
                <span class="buyBox-zipLabel">Deliver to</span>
                <span class="buyBox-zipValue" data-zip></span>
                <button class="buyBox-zipAction" type="button" data-change-zip>Change</button>
            </div>
            <div class="buyBox-eta" data-delivery-eta></div>
        </div>

        {{#if product.release_date }}
            <p class="buyBox-releaseDate">{{product.release_date}}</p>
        {{/if}}

        <form class="buyBox-form form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <div class="buyBox-options" data-buy-box-options data-product-option-change style="display:none;">
                {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                {{#each product.options}}
                    {{{dynamicComponent 'components/products/options'}}}
                {{/each}}
            </div>

            <div class="form-field form-field--stock buyBox-stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                <label class="form-label form-label--alternate">
                    {{lang 'products.current_stock'}}
                    <span data-product-stock>{{product.stock_level}}</span>
                </label>
            </div>

            {{#if product.out_of_stock}}
                {{#if product.out_of_stock_message}}
                    {{> components/common/alert/alert-error product.out_of_stock_message}}
                {{else}}
                    {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                {{/if}}
            {{/if}}

            <div class="buyBox-quantityCtas" data-buy-box-ctas>
                {{> components/products/add-to-cart}}
            </div>
        </form>

        <div class="buyBox-subscribe" data-subscribe-toggle>
            <button type="button" class="button button--ghost">Subscribe &amp; Save</button>
        </div>

        {{#if settings.show_wishlist}}
            <div class="buyBox-wishlist" data-wishlist-action>
                {{> components/common/wishlist-dropdown}}
            </div>
        {{/if}}

        {{#unless is_ajax}}
            <div class="buyBox-share">
                {{> components/common/share url=product.url}}
            </div>
        {{/unless}}

        {{#if product_layout '!=' 'quickview'}}
            {{#if theme_settings.halo_sticky_add_to_cart}}
                {{> components/halothemes/product/halo-sticky-add-to-cart}}
            {{/if}}
        {{/if}}

        <div class="buyBox-socialProof" data-social-proof>
            <p class="buyBox-socialProofText">Over <span data-social-proof-count>{{#each product.custom_fields}}{{#if name '==' 'sold_past_30d'}}{{value}}{{/if}}{{/each}}</span> customers purchased in the last 30 days.</p>
        </div>
    </div>
</section>

{{#if product_layout '!=' 'quickview'}}
<div class="buyBox-mobileBar" data-buy-box-mobile-bar>
    <div class="buyBox-mobileBar-inner">
        <div class="buyBox-mobileBar-price">
            {{#if product.call_for_price}}
                <span class="buyBox-mobileBar-priceText">{{product.call_for_price}}</span>
            {{else}}
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{> components/products/price price=product.price schema_org=false}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            {{/if}}
        </div>
        <button class="button button--primary buyBox-mobileBar-button" type="button" data-mobile-add-to-cart>
            {{lang 'products.add_to_cart'}}
        </button>
    </div>
</div>
{{/if}}
