<ul class="productListing card-variant{{#if theme_settings.product_list_display_mode '===' 'grid'}} productGrid{{else}} productList{{/if}}{{#if theme_settings.show_sidebar}} sidebar-show{{else}} sidebar-hide{{/if}} col-{{theme_settings.product_grid_view_column}}" id="{{block_id}}">
    {{#each products}}
	    <li class="product">
	            {{>components/products/card-category settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating show_wishlist=../settings.show_wishlist theme_settings=../theme_settings customer=../customer productsnew=../productsnew event=../event position=(add @index 1)}}
	    </li>
    {{/each}}
</ul>
